////////////////////////////////////////////////////////////////////////////////
// *
// * Power BI Embed content block
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.block--type-powerbi {

  .field--name-field-powerbi-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      border: none;
      vertical-align: bottom;
    }
  }
}
